<!DOCTYPE HTML>
<html>
  <head>
    <!-- basic.html -->
    <title>Ensemble</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <link rel="stylesheet" href="../static/css/styles.css">

    <!-- CSS only -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <!-- JS, Popper.js, and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


  </head>
  <body>
    <h1 class="text-center">Ensemble</h1>
    <div>
      <p>
        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Help</a>
        <button type="button" class="btn btn-primary">Compose</button>
      </p>
      <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <span>To begin, you can either start your own ensemble or join an existing composition</span>
        <ul>
          <li>Click the Compose button to being an ensemble. You can record yourself playing music and once you publish, anyone can contribute to your project</i>
          <li>Click on another composition below to join an existing ensemble</li>
        </ul>
      </div>
      </div>
    </div>


      <div id="compositions" class="">
        <div class="" id="composition-cards">
              <a href="/composition" class="composition-link">
                <div class="card composition-card" style="width: 18rem;">
                  <div style="height: 40px; overflow: hidden;">
                    <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
                      <path d="M-7.29,83.38 C169.82,181.08 353.49,-33.05 505.83,104.11 L500.00,0.00 L0.00,0.00 Z" style="stroke: none;fill: #007bff;"></path>
                    </svg>
                  </div>
                  <div class="card-body card-info">
                    <h5 class="card-title">Mradul's Composition</h5>
                    <p class="card-text">I started this song to discover new artistic talents and genres from around the world</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Looking for: Guitar, Piano</li>
                  </ul>

                </div>
              </a>
        </div>
      </div>


  </body>
  <footer>
    <script src="../static/js/home.js"></script>
  </footer>
</html>
